.aboutbackrounde{
position: absolute;
top: 500px;
left: 100px;
right: 100px;
width: auto;
height: 100px;
background-color: #fff;
opacity: 0.8;
background-size: 100%;
}
.bacK-about1{
    
    position: absolute;
    top: 606px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 900px;
    background-size: 100%;
    background-color: #fff;
    opacity: 0.9;
    margin-right: -10px;
    }
.bacK-about2{
    
position: absolute;
top: 590px;
left: 100px;
right: 100px;
width: auto;
height: 540px;
background-size: 100%;
background-color: #fff;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 20px 20px;

}
.bacK-about2 img{
    width: 40%;
    height: 90%;
}
.bacK-about2 div{
    width: 40%;
    height: 40%;
}
.textabout{
    font-size: 3em;
    color: #fff;
    position: absolute;
    top: 200px;
    left: 100px;
}
.text2{
    
    font-size: 3em;
    color: #fff;
    position: absolute;
    top: 200px;
    left: 300px;
}
