body{
    background: url(../img/dj.png);
    background-size: 100% ;
    height: 100%;
    width: auto;
    height: 610px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.backgong-col{
    opacity: 1;
    width: auto;
    height: 620px;
    margin: -20px;
    /* background-color:blueviolet; */
    background: linear-gradient(to bottom right, rgba(100, 0, 100, 0.7), rgba(0, 0, 233, 0.7));
    background-size: cover;
}
.menu-class{
    position: absolute;
    top: 10px;
    left: 100px;
    right: 100px;
    width: auto;
    height: 40px;
    padding-top: 20px;
    background:none ;
    /* background-color: blue; */
    border: none;
    position: fixed;
}

.logo{
    position: absolute;
    margin-top: -80px;
    margin-left: -70px;
    width: 300px;
}
.menu-class a{
    text-decoration:none;
    color: #ffffff;
}
.menu-class label{
    margin-left: 100px;
}
.group-img{
    position: absolute;
    top: 160px;
    left: 60px;
    right: 100px;
    width: 450px;
    height: 340px;
    background-image: url(../img/persone-removebg-preview.png);
    background-size: 100%;
}
.group-text{
    position: absolute;
    top: 160px;
    left: 650px;
    right: 100px;
    width: 430px;
    height: 300px;
    background:none;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 70px;
    color: #ffffff;
}
.group-text *{
    font-family: Candara;
}
.group-text .title{
    grid-column: 1/3;
    font-size: 3em;
    background:none;
}
.group-text .text{
    margin-top: 10px;
    grid-column: 1/3;
    background:none;
}
.group-text .button1{
    /* grid-column: ; */
    
    background-color: rgb(255, 0, 144);
    color: #ffffff;
    margin: 20px 20px;
    border-radius: 30px;
    border: solid 0px;
}
.group-text .button2{
    margin: 20px 20px;
    border-radius: 30px;
    background: none;
    color: #ffffff;
    border: solid 1px #ffffff;
}
.petite-backround{
    
    position: absolute;
    background:none;
    width: auto;
    height: 1000px;
    top: 600px;
    left: 70px;
    right: 70px;
}
.backgong-col2{
    position: absolute;
    opacity: 0.5;
    width: auto;
    height: 1010px;
    margin: -10px;
    top: 615px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
    background-size: cover;

}
.petite-backround1{
    position: absolute;
    background:none;
    border: solid 2px;
    width:auto;
    height: 1000px;
    margin: 10px;
    background-size: cover;
    border-radius: 20px;
    top: 520px;
    left: 100px;
    right: 100px;
}

.backgong-col3{
    background-color: rgb(0, 0, 97);
    height: 150px;
    width: 100%;
    border-radius: 20px;
    color: #ffffff;
    
   
    display: grid; 
    grid-template-columns: 25% 27% 27%;
    grid-template-rows: 60PX 1fr;
    justify-content: space-around;
    justify-items: space-around;
    font-family: ;
}
.backgong-col3 div{
    margin-top: 10px;
    align-content: center;
}
.tcheld1{
    background:none;
    width: 300px;
    border: none;
    border-bottom: solid 3px #ffffff;
    font-size: 1.4em;
    outline: none;
    
    font-family: Candara;
}
.select{
    color: #ffffff; 
}
.select  option{
    
    color: #000000; 
}

.liste-image{
    /* background: none; */
    background-size: cover;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 10% 35% 35% 10%;
    padding: 4px;
    color: blueviolet;
    gap: 40px 10px;
    height: 400px;
}
.prliste-imagee .tetle{
    font-size: 2em;
    grid-column: 1/3;
    background-color: black;
}
.liste-image .section1{
    font-size: 2em;
    grid-column: 4/5;
    background-color: black;
}
.liste-image .section2{
    font-size: 2em;
    grid-column: 5/6;
    background-color: black;
}
.liste-image .section1{
    font-size: 2em;
    grid-column: 4/5;
    background-color: black;
}
.liste-image .backrong-imagText1{
    background-color: black;
    background-size: cover;
    
    grid-column: 1/3;
}
.liste-image .backrong-imagText2{
    background-color: black;
    background-size: cover;
    
    grid-column: 3/5;
}
.liste-image .backrong-imagText3{
    background-color: black;
    background-size: cover;
    
    grid-column: 5/7;
}
.liste-image .backrong-imagText4{
    background-color: black;
    background-size: cover;
    grid-column: 1/3;
}
.liste-image .backrong-imagText5{
    background-color: black;
    background-size: cover;
    grid-column: 3/5;
}
.liste-image .backrong-imagText6{
    background-color: black;
    background-size: cover;
    grid-column: 5/7;
}
.liste-image .bottun{
    
    background-color: black;
    grid-column: 3/5;
    width: 60px;
    margin-left: 30%;

}


