body{
    background: url(../img/dj.png);
    background-size: 100% ;
    height: 100%;
    width: auto;
    height: 610px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.backgong-col{
    opacity: 1;
    width: 1fr;
    height: 620px;
    margin: -20px;
    /* background-color:blueviolet; */
    background: linear-gradient(to bottom right, rgba(100, 0, 100, 0.7), rgba(0, 0, 233, 0.7));
    background-size: cover;
}
.menu-class{
    position: absolute;
    top: 10px;
    left: 100px;
    right: 100px;
    width: auto;
    height: 40px;
    padding-top: 20px;
    background:none ;
    /* background-color: blue; */
    border: none;
    position: fixed;
}

.logo{
    position: absolute;
    margin-top: -80px;
    margin-left: -70px;
    width: 300px;
}
.menu-class a{
    text-decoration:none;
    color: #ffffff;
}
.menu-class label{
    margin-left: 100px;
}
.group-img{
    position: absolute;
    top: 160px;
    left: 60px;
    right: 100px;
    width: 450px;
    height: 340px;
    background-image: url(../img/persone-removebg-preview.png);
    background-size: 100%;
}
.group-text{
    position: absolute;
    top: 160px;
    left: 650px;
    right: 100px;
    width: 430px;
    height: 300px;
    background:none;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 70px;
    color: #ffffff;
}
.group-text *{
    font-family: Candara;
}
.group-text .title{
    grid-column: 1/3;
    font-size: 3em;
    background:none;
}
.group-text .text{
    margin-top: 10px;
    grid-column: 1/3;
    background:none;
}
.group-text .button1{
    /* grid-column: ; */
    
    background-color: rgb(255, 0, 144);
    color: #ffffff;
    margin: 20px 20px;
    border-radius: 30px;
    border: solid 0px;
}
.group-text .button2{
    margin: 20px 20px;
    border-radius: 30px;
    background: none;
    color: #ffffff;
    border: solid 1px #ffffff;
}
.petite-backround{
    
    position: absolute;
    background:none;
    width: auto;
    height: 1000px;
    top: 600px;
    left: 70px;
    right: 70px;
}
.backgong-col2{
    position: absolute;
    opacity: 0.8;
    width: auto;
    height: 2310px;
    margin: -10px;
    top: 615px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
    background-size: cover;

}
.petite-backround1{
    position: absolute;
    background:none;
    border: none;
    width:auto;
    height: 1000px;
    margin: 10px;
    background-size: cover;
    border-radius: 20px;
    top: 520px;
    left: 100px;
    right: 100px;
}

.backgong-col3{
    background-color: rgb(0, 0, 97);
    height: 150px;
    width: 100%;
    border-radius: 20px;
    color: #ffffff;
    
   
    display: grid; 
    grid-template-columns: 25% 27% 27%;
    grid-template-rows: 60PX 1fr;
    justify-content: space-around;
    justify-items: space-around;
    /* font-family: ; */
}
.backgong-col3 div{
    margin-top: 10px;
    align-content: center;
}
.tcheld1{
    background:none;
    width: 300px;
    border: none;
    border-bottom: solid 3px #ffffff;
    font-size: 1.4em;
    outline: none;
    
    font-family: Candara;
}
.select{
    color: #ffffff; 
}
.select  option{
    
    color: #000000; 
}

.liste-image{
    /* background: none; */
    background-size: cover;
    background:none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 8% 37% 30% 5%;
    padding: 4px;
    color: blueviolet;
    gap: 5% 50px;
    height: 900px;
    margin-top: 80px;
    border: solid 2px #000000;
    border-radius: 2%;
    padding-bottom: -50px;
}

.liste-image .tetle{
    font-size: 2.5em;
    grid-column: 1/3;
}

.liste-image select{    
    border: none;
    background:none;
    width: 90%;
    outline: none;
}
.liste-image .section1{
    grid-column: 4/5;
    
}
.liste-image .section2{
    grid-column: 5/6;
}
.liste-image .section3{
    grid-column: 6/7;
}

.liste-image div{
    border-radius: 20px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50% 25% 25%;
    background-color: #fff;
    color: #000;
}
.liste-image div  img{
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* padding-bottom: -30px; */
}
.liste-image div p{
    grid-column-start: 1;
    grid-column-end: 3;
   margin-left: 20%;
}


.liste-image .backrong-imagText1{
    grid-column: 1/3;
}
.liste-image .backrong-imagText2{
    
    grid-column: 3/5;
}
.liste-image .backrong-imagText3{
    
    grid-column: 5/7;
}

.liste-image .bottun{
    grid-column: 3/5;
    margin-left: 30%;
    width: 150px;
    border-radius: 30px;
    color: #00f;
    border: solid 1px #00f;
    background: none;
}
.backgong-col4{
    background-color: #dfa6da;
    width: auto;
    height: 20%;
    text-align: center;
    margin-top: 5%;
    padding-top: 4%;
    margin-right: -105px;
    margin-left: -100px;
}

.liste-image2{
    width: auto;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 10% 10% 50% 10%;
    margin-top: 6%;
    border: solid 2px #000;
    gap: 30px 20px;

}

.liste-image2 .imgS{
    grid-column: 1/2;
    width: auto;
    height: 35px;
}
.liste-image2 .imgG{
    grid-column: 2/3;
    width: auto;
    height: 35px;
}
.liste-image2 .imgStipe{
    grid-column: 3/4;
    width: auto;
    height: 40px;
    margin-left: 100px;
}
.liste-image2 .imgYM{
    grid-column: 4/7;
    width: auto;
    height: 70px;
    margin-left:   70px;;
    margin-top: -10px;
}
.liste-image2 .title{
    grid-column: 1/7;
    margin-top: -10px;
    text-align: center;
}
.liste-image2 .imgtexte1{
    grid-column: 1/3;
    border-radius: 5%;
    width: auto;
    height: auto;
}
.liste-image2 .imgtexte2{
    grid-column: 3/5;
    border-radius: 5%;
    width: auto;
    height: auto;
}
.liste-image2 label{
    margin-top: -150px;
}
.liste-image2 p{
    color: #4f18a1;
}
.liste-image2 .imgtexte3{
    grid-column: 5/7;
    border-radius: 5%;
    width: auto;
    height: auto;
}
.liste-image2 .texte1{
    grid-column: 1/3;
}
.liste-image2 .texte2{
    grid-column: 3/5;
}

.liste-image2 .texte3{
    grid-column: 5/7;
}
.footer{
    background-color: rgb(4, 4, 79);
    background-size: cover;
    width: auto;
    height: 400px;
    margin-left: -110px;
    margin-right: -110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 50px;
    color:#fff;
}
.footer a{
    color: #fff;
    text-decoration: none;
    margin-top: -6px;
}
.footer div{
    margin-top: 2%;
}
.footer .div1{
    height: auto;
    /* width: 30.3%; */
    margin-right: 14%;
}
.footer .div2{
    height: auto;
    width: auto;
    /* width: 15.3%; */
    margin-right: 8%;
}
.footer .div3{
    height: auto;
    width: auto;
    margin-right: 5%;
}
.footer .div4{
    height: auto;
    width: 25%;
}
.footer .back1{
    width: 100%;
    height: 17%;
    background-color: #fff;
    background-size: cover;
    border-radius: 30px;
    margin-top: 20%;
}
.div4 .back1 .input1{
    width: 50%;
    height: 100%;
    background:none;
    outline: none;
    background-size: cover;
    border:none;
    color: #000;
}

.div4 .back1 .button1{
    width: 44%;
    height: 100%;
    background-color: #8f184e;
    outline: none;
    background-size: cover;
    border:none;
    border-radius: 30px;
    margin-right: -40px;
}

.divfacbouk{
    display: flex;
    justify-content: first baseline;
    width: 180px;
}
.divfacbouk img{
    width: 100%;
    height: 100%;
}
.divfacbouk a{
    background:none;
    border: solid 1px #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
}
.div2 h5{
    margin-top: -10px;
}
.div3 h5{
    margin-top: -10px;
}
